@import '../../../../theme.scss';

section {
  max-width: 850px;
  min-width: 250px;
  padding: 1.5rem;
  .profile-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: $box-shadow;
    padding: 30px 25px;
    aside {
      padding: 0 20px;
      #profile-pic-container {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    article {
      padding: 0 20px;
      address {
        display: flex;
        flex-direction: row;
        h5 {
          margin: 5px 12px 0 0;
        }
      }
      p {
        padding-right: 10px;
      }
    }
  }
  .lowerCaseButton {
    float: right;
    text-transform: none;
  }
}
