.header {
    background-color: #FFFFFF;
    &-logo {
        max-width: 150px;
        max-height: 50px;
        margin: 10px 0 10px 2vw;
    }
    &-profile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .profile-container {
        margin-right: 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: grey;
        img {
            width: 50px;
            border-radius: 50%;
        }
        h4 {
            margin-left: 20px;
        }
    }
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    div {
        height: 16.5%;
        display: flex;
        align-items: center;
    }
    a {
        height: 16.5%;
    }
}

#header-container {
    box-shadow: none;
    border-bottom: solid 2px lightgray;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 64px;
}
