section {
    div {
        display: flex;
        flex-direction: row;
        aside {
            img {
                width: 100px;
                border-radius: 50%;
            }
        }
        article {

        }
    }
}