@import './theme.scss';
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-Main {
    width: 100%;
    height: 100%;
    h1 {
      color: $book-main;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      margin: 5px 0;
      font-size: 1.75em;
    }
    h3 {
      color: $book-light;
      margin: 5px 0;
      font-size: 1.2em;
    }
  }
}
