form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        background-color: white !important;
        opacity: .8;
    }
    button {
        width: 100%;
    }
}